/* 修改默认样式 Start */
html {
    font-size: 10px;
    box-sizing: border-box;
}
body {
    font-family: Arial, "Microsoft YaHei";
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
input {
    outline: none;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}
caption {
    caption-side: top;
    padding: 0;
    color: #333333;
}
textarea {
    resize: none;
}
/* 修改默认样式 End */


/* 通用样式 Start */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.overflow-auto {
    overflow: auto!important;
}
.radius-circle {
    border-radius: 50%;
}
.cursor {
    cursor: pointer;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: -webkit-flex;
    display: flex;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-column-reverse {
    flex-direction: column-reverse;
}
.flex-wrap {
    flex-wrap: wrap;
}

.flex-n-wrap {
    flex-wrap: nowrap;
}
.position-relative {
    position: relative;
}
/* 通用样式 Start */

/* 字体样式 Start */
.font-12 {
    font-size: 1.2rem !important;
}
.font-14 {
    font-size: 1.4rem !important;
}
.font-16 {
    font-size: 1.6rem !important;
}
.font-18 {
    font-size: 1.8rem !important;
}
.font-20 {
    font-size: 2rem!important;
}
.font-22 {
    font-size: 2.2rem !important;
}
.font-24 {
    font-size: 2.4rem !important;
}
.font-26 {
    font-size: 2.6rem !important;
}
.font-30 {
    font-size: 3rem!important;
}
/* 字体样式 End */


/* 颜色样式 Start */
.color-3 {
    color: #333333 !important;
}
.color-6 {
    color: #666666 !important;
}
.color-7 {
    color: #777777 !important;
}
.color-9 {
    color: #999999 !important;
}
.color-f {
    color: #ffffff !important;
}
.color-79 {
    color: #797979 !important;
}
.color-d {
    color: #dddddd !important;
}
.color-70d{
    color: #70d83c !important;
}
.color-red {
    color: red!important;
}
/* 颜色样式 End */



/* 间距样式 Start */
.m-auto {
    margin: 0 auto;
}
.m-0 {
    margin: 0;
}
.mt-5 {
    margin-top: 0.5rem;
}
.mr-5 {
    margin-right: 0.5rem;
}
.mb-5 {
    margin-bottom: 0.5rem;
}
.ml-5 {
    margin-left: 0.5rem;
}
.pt-5 {
    padding-top: 0.5rem;
}
.pl-5 {
    padding-left: 0.5rem;
}
.pb-5 {
    padding-bottom: 0.5rem;
}
.pr-5 {
    padding-right: 0.5rem;
}
.mt-10 {
    margin-top: 1rem;
}
.mr-10 {
    margin-right: 1rem;
}
.mb-10 {
    margin-bottom: 1rem;
}
.mb-15 {
    margin-bottom: 1.5rem;
}
.ml-10 {
    margin-left: 1rem;
}
.pt-10 {
    padding-top: 1rem;
}
.pl-10 {
    padding-left: 1rem;
}
.pb-10 {
    padding-bottom: 1rem;
}
.pr-10 {
    padding-right: 1rem;
}
/* 间距样式 End */


/* 宽度样式 Start */
.w-50 {
    width: 50px;
}
.w-60 {
    width: 60px;
}
.w-80 {
    width: 80px;
}
.w-100 {
    width: 100px;
}
.w-150 {
    width: 150px;
}
.w-percent-100 {
    width: 100%;
}
/* 宽度样式 End */

/* 媒体查询 Start */
/* @media screen and (min-width: 0px) and (max-width: 768px) { */
@media screen and (max-width: 768px) {
    html {
        font-size: 6px!important;
    }
    /* .app-detect-record {
        display: block!important;
    } */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 8px!important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    html {
        font-size: 10px!important;
    }    
}

@media screen and (min-width: 1441px) {
    html {
        font-size: 12px!important;
    }    
}
/* 媒体查询 End */


/* Other Start */
.room-type-radio {
    margin: 5px 0px;
}
.room-type-radio .el-radio__label {
    display: inline-block;
    width: 120px;
}


.app-detect-record, .app-material-apply { /* 正常情况下隐藏 */
    /* display: none; */
    height: 70%!important;
    overflow: auto;
}
.app-material-apply .el-drawer__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.confirm-order-dialog .el-dialog, .wallet-dialog .el-dialog {
    max-width: 460px;
}
/* Other End */